@import url(reset.css);
[class*="__container"]{
   max-width: 1270px;
   padding: 0px 15px;
   margin: 0 auto;
}
main{
   font-family: 'Inter';
   font-weight: 500;
   font-size: 16px;
   min-height: 600px;
}

[class*="__title"]{
   text-transform: uppercase;
   font-size: 24px;
   font-weight: 700;
   color: #637381;
   text-align: center;
   padding-top: 20px;
   margin-bottom: 30px;
   text-decoration: underline;
}
[class*="__block"]{
   text-align: center;
   border-radius: 10px;
   padding: 20px 0;
}

.icon__block-white img:not(:last-child){
   margin-right: 100px;
}
.icon__block-blue img:not(:last-child){
   margin-right: 10px;
}
.icon__block-blue{
   margin-bottom: 10px;
   background: #3056D3;
   border: 2px solid #3056D3;
}
.icon__block-white{
   border: 1px solid black;
}
.design__block{
   border: 1px solid black;
}
.design__block img{
   margin-left: 10px;
}
.content__block img{
   margin: 10px;
}