@import url(reset.css);
.wrapper{
}
.header{
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   font-size: 12px;
   line-height: 1.7; /* 20/12 */
   color: #E5E5E5;
   background: url(../img/main.png) center / cover no-repeat ; 
   min-height: 600px;
   padding: 365px 0 100px 0;
}

[class*="__container"]{
   max-width: 1290px;
   padding: 0 15px;
   margin: 0 auto ;
}
.header__title{
   font-weight: 700;
   font-size: 25px;
   line-height: 1.6; /* 40/25 */
   max-width: 605px;
}
.header__text{
   max-width: 500px;
}
.header__date, .header__title{
   margin-bottom: 15px;
}

.main{
    margin-top: 30px;
    font-family: 'Inter';
}
.main__title{
   color: #212B36;
   font-weight: 400;
   font-size: 26px;
   line-height: 1.1; /* 28/26 */
   margin-bottom: 45px;
}
.main__content-block{
   color:  #637381;;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.0;
}
.main__content-block ul{
   margin-bottom: 30px;
}
.main__content-block li{
   padding: 2px 0 15px 25px;
}
.list-1__block li{
 background: url(../img/list-icon/circle.svg) left 6px no-repeat;
 padding-left: 15px;
}
.list-2__block li{
   background: url(../img/list-icon/check_01.svg) left top/ 20px no-repeat ;
  }

.list-3__block li{
   background: url(../img/list-icon/check_02.svg) left top/ 20px no-repeat ; 
  }
.list-4__block li{
   background: url(../img/list-icon/cross-circle1.svg) left top/ 20px no-repeat ;  
  }
 .list-5__block li{
   background: url(../img/list-icon/vector.svg) left 5px/ 20px no-repeat ; 
  }
 .list-6__block li{
   background: url(../img/list-icon/star.svg) left top/ 20px no-repeat ; 
  }
  
  
  .main__banner{
   font-family: 'Inter';
   font-weight: 600;
   font-size: 16px;
   line-height: 1.5;
  }
  .banner__block{
   background: url(../img/speaker.png) right no-repeat;
   height: 560px;
   padding-top: 145px;
   max-width: 1170px;
  }
.banner__price{
   color: #3056D3;
   font-size: 18px;
   line-height: 1.3; /* 24/18 */
   margin-bottom: 13px;
}
.banner__title{
   color: #212B36;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2; /* 45/36 */
   max-width: 470px;
   margin-bottom: 15px;
}
.banner__text{
   color: #637381;
   font-weight: 500;
   line-height: 1.5;
   max-width: 570px;
   margin-bottom: 45px;
}
.banner__button{
   color: #FFFFFF;
   background-color: #3056D3;
   display: inline-block;
   padding: 10px 30px;
   border-radius: 30px;
   cursor: pointer;
}