@font-face {
   font-family: 'Multiround Pro';
   src: url('../fonts/multiround_pro_regular/MultiroundProRegular.woff2') format('woff2'),
       url('../fonts/multiround_pro_regular/MultiroundProRegular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Morning Breeze';
   src: url('../fonts/morning_breeze_bold/MorningBreezeRegular.woff2') format('woff2'),
       url('../fonts/morning_breeze_bold/MorningBreezeRegular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Morning Breeze';
   src: url('../fonts/morning_breeze_bold/MorningBreezeBold.woff2') format('woff2'),
       url('../fonts/morning_breeze_bold/MorningBreezeBold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Morning Breeze';
   src: url('../fonts/morning_breeze_bold/MorningBreezeItalic.woff2') format('woff2'),
       url('../fonts/morning_breeze_bold/MorningBreezeItalic.woff') format('woff');
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}