.title{
   font-weight: 700;
   font-size: 40px;
   line-height: 1.12;
   text-align: center;
   text-transform: capitalize;
   color: #212B36;
   }
   .sub-title{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   text-align: center;
   color: #637381;
   }

.price-name{
   font-weight: 600;
   font-size: 20px;
   line-height: 1.3;
   color: #212B36;
}