@import url(reset.css);
@import url(common.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
/* &display=swap --------- для шрифту*/
body{
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   font-size: 12px;
   line-height: 2.08;
   color: #495057;
}

.wrapper{
   overflow: clip;
   min-height: 100%;
   display: flex;
	flex-direction: column;
   
}
.wrapper > main {
	flex-grow: 1;
}

[class*="__container"]{
   max-width: 1270px;
   margin: 0 auto;
   padding: 0px 15px;
}

.header {
   z-index: 50;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   padding: 15px 0;
   color: rgba(73, 80, 87, 0.5);
   background: #F8F9FA;
   background: #F8F9FA;
   box-shadow: 0px 1px 11px -2px rgba(0,0,0,0.75);
}
.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 5px;
   flex-wrap: wrap;
}

.header__logo {
   z-index: 2;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.39;
   color: #495057;
}
.header__logo::after{
   content: ".";
   color: #DDBEA9;
}

.navigation-header {
   /* display: none; */
}
.navigation-header__block{

}
.navigation-header__menu {
   display: flex;
   flex-wrap: wrap;
   column-gap: 25px;
   row-gap: 5px;
}
.navigation-header__item {
 
}

.navigation-header__link {
   position: relative;
   transition: all 0.3s;
   display: inline-block;
}

.navigation-header__item:hover .navigation-header__link{
   color: #495057;
}

.navigation-header__link::after{
   content: "";
   border: 2px solid #DDBEA9;
   border-radius: 2px;
   position: absolute;
   bottom: 0;
   left: 50%;
   width: 0;
   opacity: 0;
   transition: width 0.3s, left 0.3s;
}
.navigation-header__link_active {
   color: #495057;
}
.navigation-header__link_active::after{
   opacity: 1;
   width: 100%;
   left: 0;
}

/* --------------------------------------------------------- */
@media (min-width: 680.98px) {
   .navigation-header__item:hover .navigation-header__link::after{
      opacity: 1;
      left: 0;
      width: 100%;
   }
}
/* --------------------------------------------------------- */

/* ---------------------------------- */
@media (max-width: 680.98px) {
   .navigation-header__item {
      font-size: 20px;
      color: #495057;
   }
}
/* ----------------------------------- */
.header__right-side {
   display: flex;
   gap: 20px;
   align-items: center;
}
.social-header {
}
.social-header__list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 25px;
   row-gap: 5px;
}
.social-header__item{}
.social-header__link {
}
.header__search {
   min-width: 12px;
   min-height: 12px;
   background: url(../img/icon/search.svg) center no-repeat;
   display: inline-block;
}
.social-header__list::after{
   content: "";
   border: 1px solid #E5E5E5;
   min-height: 25px;
   max-width: 0;
} 
/* ---------------------------------- */
@media (max-width: 680.98px) {
   .social-header {
      display: none;
  }
  .header__search {
   min-width: 20px;
   min-height: 20px;
   background-size: 18px;
}
}
 /* --------------------------------- */
 .header__menu-icon {
   display: none;
}
@media (max-width: 680.98px) {
   .header__menu-icon {
      display: block;
      position: relative;
      flex: 0 0 30px;
      height: 20px;
      margin-right: 30px;
   }
   .header__menu-icon::before,
   .header__menu-icon::after,
   .header__menu-icon span{
      content: "";
      position: absolute;
      height: 1px;
      left: 0;
      width: 100%;
      background-color: #212529;;
   }
   .header__menu-icon::before{
      top: 0;
   }
   .header__menu-icon::after{
      bottom: 0;
   }
   .header__menu-icon span{
      top: 50%;
      margin-top: -0.5px;
   }

   .navigation-header__block{
      position: fixed;
      top: 0;
      /* left: 0; */
      left: -100%;
      width: 100%;
      height: 100%;
      background-color:	#b3a180;
      padding: 70px 15px 25px 15px;
      overflow: auto;
   }
   .navigation-header__block::before{
      content: "";
      z-index: 1;
      position: fixed;
      display: block;
      top: 0;
      /* left: 0; */
      left: -100%;
      height: 65px;
      width: 100%;
      background-color: aquamarine;
   }
   .navigation-header__menu{
      flex-direction: column;
      row-gap: 20px;
   }
}
@media (max-width: 580.98px) {
   .header__login{
      column-gap: 15px;
   }
}

/* ================================= */
.page {
}
.page__main {
   margin-top: 57px;
}
.page__galery{
}
/* ================================== */
.main {
}

.main:not(:last-child){
   margin-bottom: 123px;
}

.main__block{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   min-height: 500px;
   gap: 15px;
}
.main__body {
   position: relative;
   z-index: 2;
   flex: 0 1 420px;
}

.main__autor {
   font-weight: 300;
   line-height: 1.67;
   color: #E5E5E5;
}
.main__autor:not(:last-child){
   margin-bottom: 25px;
}
.main__title {
}

.main__background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}
.main__background img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   border-radius: 5px;
}
 @media (max-width: 991.98px) {
   .main:not(:last-child) {
      margin-bottom: 25px;
  }
 }
 @media (max-width: 767.98px) {
   .main__block {
      min-height: 300px;   
  }
  .main__autor:not(:last-child) {
   margin-bottom: 5px;
   }
 } 
   @media (max-width: 648.98px) {
      .main:not(:last-child) {
         margin-bottom: 10px;
   }
 }
 @media (max-width: 556.98px) {
   .main__block {
      min-height: 200px;   
  }
 }

/* ================================ */
.galery{
   margin-bottom: 100px;
}

.header-galery {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: flex-start;
   gap: 5px;
}
.header-galery:not(:last-child){
    margin-bottom: 45px;
}
.header-galery__title {
   flex: 0 1 395px; 
}

.categories {
}
.categories__menu {
}
.categories__list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 25px;
   row-gap: 5px;
}
.categories__item {
}
.categories__link {
   color: #C4C4C4;
   transition: all 0.3s;
}
.categories__link_active {
   color: #495057;
}
.categories__link_uppercase {
   text-transform: uppercase;
}

/* ------------------------------------------------- */
@media (max-width: 985.98px) {
   .header-galery__title{
      font-size: 20px;
   }
   .categories__link {
      font-size: 16px;
      line-height: 1.6;
   }
   .header-galery:not(:last-child) {
      margin-bottom: 20px;
  }
}
@media (max-width: 719.98px) {
   .categories__list {
      justify-content: center;
  }
  .header-galery__title{
   font-size: 16px;
  }
}

@media (any-hover: hover){
   .categories__item:hover .categories__link{
      color: #495057;
   }
}

/* --------------------------------------- */
.galery__items {
}
.galery__row {
   display: flex;
   row-gap: 40px;
   flex-wrap: wrap;
   margin: 0 -15px;
}
.galery__column {
   flex: 0 0 33.333%;
   padding: 0 15px;
}

.item-galery {
}
.item-galery__image {
   display: block;
   position: relative;
   padding-bottom: 63.613232%; /* 250/393 */
   overflow: hidden;
}
.item-galery__image img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transform: scale(1);
   transition: transform 0.8s;
}

.item-galery__image:not(:last-child){
   margin-bottom: 30px;
}
.item-galery__body {
}

.item-galery__date {
   font-weight: 300;
   line-height: 1.67;
   color: #495057;
}
.item-galery__date:not(:last-child){
   margin-bottom: 15px;
}
.item-galery__title {
   font-size: 16px;
   line-height: 1.56;
   color: #212529;
   transition: all 0.3s;
}

/* -------------------------------------------------------------*/
@media (max-width: 910.98px) {
   .galery__row {
      row-gap: 20px;
   }
   .item-galery__image:not(:last-child){
      margin-bottom: 15px;
   }  
   .item-galery__date:not(:last-child){
      margin-bottom: 5px;
   }
}
@media (max-width: 692.98px) {
   .galery__column {
      flex: 0 0 50%;
   }
}
@media (max-width: 503.98px) {
   .galery__column {
      flex: 0 0 100%;
   }
   .header-galery{
      justify-content: center;
   }
   .header-galery__title{
      font-size: 18px;
      text-align: center;
   }
}
/* -------------------------------------------------------------*/
@media (any-hover: hover){
   .item-galery__image img:hover{
      transform: scale(1.1);
   }
   .item-galery__title:hover{
      color: #CCD5AE;
      }
} 